/* Утиліти */
:root {
--primary-brand : #4D5AE5;
--accept-col : #404BBF;
--text-col : #434455;
--dark : #2E2F42;
--subtle-text : #8E8F99;
--accent : #E7E9FC;
--light : #F4F4FD;
--success : #31D0AA;
--pure-white : #FFFFFF;

--tras-t-fun : cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--pure-white);
    color: var(--text-col);
}

.list {
    list-style: none; 
}
.link {
    text-decoration: none;
}
h1,h2,h3,p,ul {
    margin: 0;
    padding: 0;
}
/* Хедер */
.logo {
    margin-top: 24px;
    margin-right: 77px;
    margin-bottom: 24px;

    color: var(--primary-brand);

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.text-logo {
    color: var(--dark);
}
.menu {
    display: flex;
}
.menu-item:not(:last-child) {
    margin-right: 40px;
}
/* .menu-item + .menu-item {
    margin-left: 20px;
} */

.menu-link {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.5;
    color: var(--dark);

    transition: color 250ms var(--tras-t-fun);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--primary-brand);
}
.current {
    color: var(--primary-brand)
}
.current::after {
    position: absolute;
    left: 0;
    bottom: -2.5px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--primary-brand);
    border-radius: 2px;
}
.menu-contacts {
    display: flex;
    margin-left: auto;
}
.contact-phone {
    padding-top: 24px;
    padding-bottom: 24px;
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-col);

    transition: color 250ms var(--tras-t-fun);
}
.contact-phone:hover,
.contact-phone:focus {
    color: var(--primary-brand)
}
.contact-mail {
    margin-left: auto;
    padding-top: 24px;
    padding-bottom: 24px;

    /* font-size: 16px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-col);

    transition: color 250ms var(--tras-t-fun);
}
.contact-mail:hover,
.contact-mail:focus {
    color: var(--primary-brand);
}
/* Контейнер, секції */
.con-header-nav {
    display: flex;
    align-items: center;
}
.con-header {
    display: flex;
    align-items: center;
    background-color: var(--pure-white);
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width:1158px) {
    .con-header {
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
    }
}
@media screen and (max-width:767px) {
    .container {
        width: 428px;
    }
    .menu-item, .svg-works {
        display: none;
    }
    .hero {
        width: 428px;
        height: 432px;
        margin: 0 auto;
        padding-top: 112px;
        padding-bottom: 112px;
        background-color: transparent;
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/heromob.jpg);
        background-size: 100%;
    }
    .hero-title {
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        text-transform: capitalize;
    }
    .section-work {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .works-title {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
    }
    .text {
        font-weight: 500;
        font-size: 16px;
        /* line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-col); */
    }
    .works-list-item {
        margin-bottom: 72px;
    }
    .works-list-item:last-child {
        margin-bottom: 0;
    }
    .section-app {
        display: none;
    }
    .section-team {
        width: 428px;
        margin: 0 auto;
        padding-top: 96px;
        padding-bottom: 128px;
        background-color: var(--light);
    }
    /* .secondary-title {
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    } */
    .team-list-item {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 72px;
    }
    .team-list-item:last-child {
        margin-bottom: 0;
    }
    .section-customers {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .customers-list {
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap:72px;
    }
    .customer-list-link {
        width: 190px;
    }
    .page-footer {
        width: 428px;
        margin: 0 auto;
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .logo-footer {
        justify-content: center;
    }
    .text-footer {
        width: 268px;
        margin: 0 auto;
        margin-bottom: 72px;
    }
    .footer-title {
        text-align: center;
    }
    .social-media-footer {
        margin: 0 auto;
        width: 208px;
        margin-bottom: 72px;
    }
    .subscribe-text {
        text-align: center;
    }
    .form-sub {
        padding: 0;
    }
    .position-sub {
        display: flex;
        flex-direction: column;
    }
    .input-sub {
        width: 396px;
        margin-bottom: 16px;
    }
    .btn-subscribe {
        margin-right: auto;
        margin-left: auto;
    }
    .modal {
        min-width: 392px;
    }
 
}
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    .logo {
        margin-right: 120px;
    }
    .menu-contacts {
        display: flex;
        flex-direction: column;
    }
    /* .menu-contact-list {
        width: 118px;
    } */
    .page-nav {
        margin-right: 119px;
    }
    .contact-mail, .contact-phone {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
    }
    .hero-title {
        font-size: 56px;
        margin-bottom: 40px;
    }
    .hero {
        width: 768px;
        height: 436px;
        margin: 0 auto;
        padding-top: 112px;
        padding-bottom: 108px;
        background-color: transparent;
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/herotab.jpg);
        background-size: 100%;
    }
    .section-work {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .works-title {
        font-weight: 700;
        font-size: 36px;
    }
    .text {
        font-weight: 500;
        font-size: 16px;
    }
    .svg-works, .section-app {
        display: none;
    }
    .text-block {
        width: 356px;
    }
    .works-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    .section-team {
        width: 768px;
        margin: 0 auto;
        padding-top: 96px;
        padding-bottom: 104px;
        background-color: var(--light);
    }
    .team-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        margin: 0 auto;
    }
    .section-customers {
        /* display: none; */
        padding: 96px 0;
    }
    .customers-list {
        flex-wrap: wrap;
        /* justify-content: center; */
        margin-left: 93px;
        margin-right: 93px;
        column-gap: 24px;
        row-gap:72px;
    }
    .customer-list-link {
        width: 168px;
    }
    .page-footer {
        width: 768px;
        margin: 0 auto;
        padding-top: 96px;
        padding-bottom: 96px;
        
    }
    .text-footer {
        width: 264px;
        margin-right: 24px;
    }
    .tablet-pos {
        display: flex;
        /* justify-content: center; */
    }
    .footer-logo-container {
        margin-left: 93px;
    }
    .form-sub {
        padding: 0;
        margin-top: 72px;
        margin-left: 93px;
    }
    .position-sub {
        display: flex;
        flex-direction: row;
    }
    .input-sub {
        width: 264px;
        margin: 0;
    }
    .btn-subscribe {
        margin-left: 24px;
    }
    .modal {
        min-width: 408px;
    }
}
@media screen and (min-width: 1158px) {
    .container{
        width: 1158px;
        /* background-color: #8E8F99; */
    }
    .page-header {
        background-color: var(--pure-white);
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    }
    /* .svg-works {
        display: contents;
    } */
    .section-app {
        display: contents;
    }
    .logo {
        margin-right: 76px;
    }
    .menu-contacts {
        display: flex;
        flex-direction: row;
        /* margin-left: auto; */
    }
    .contact-mail, .contact-phone {
        font-size: 16px;
    }
    .hero {
        height: 603px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 192px;
        padding-top: 189px;
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero.jpg);
    
        background-color: var(--dark);
        
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
      .hero-title {
        margin-bottom: 48px;
    }
    .section-work {
        padding: 120px 0;
    }
      .text-block {
        width: 264px;
    }
      /* .works-list {
        display: flex;
        justify-content: space-between;
    } */
    .works-title {
        font-weight: 500;
        font-size: 20px;
    }
    .works-list-item {
        width: 264px;
    }
    .text {
        font-weight: 400;
    }
      .svg-works {
        display: flex;
        justify-content: center;
        align-items: center;
        content: "";
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: var(--light);
        margin-bottom: 8px;
    }
    .svg-works-list {
        width: 64px;
        height: 64px;
    }
    .pad {
        padding-bottom: 120px;
    }
    .apps-list {
        display: flex;
        justify-content: space-between;
    }
    .img-app {
        display: block;
    }
    .section-team {
        width: 1158px;
        /* margin: 0 auto; */
        padding: 120px 0;
        /* background-color: var(--light); */
    }
    


}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    /* так сказав ментор */
}
.hero-title {
    color: var(--pure-white);
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
  }
/* кнопки */
.btn {
    display: block;
    margin: auto;
    min-width: 69px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 16px 32px;

    color: var(--pure-white);
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-brand);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    text-align: center;

    transition: box-shadow 250ms var(--tras-t-fun), background-color 250ms var(--tras-t-fun);
}
.btn:hover,
.btn:focus {
    color: var(--pure-white);
    background-color: var(--accept-col);
    border: 1px solid;
    border-color: var(--accept-col);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn:active {
    background-color: var(--primary-brand);
    color: var(--pure-white);
}
/* стилі карток команди */
.team-title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark);
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-col);
}
/* позиція і стилі до стилів карток команди  */
.container-our-team {
    padding-top: 32px;
    padding-bottom: 32px;
}
.social-media {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 12px;
}
.social-media-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand);
    border-radius: 50%;
}
.svg-social-media {
    fill: var(--light);
} 
/*  */
.customers-list {
    display: flex;
    justify-content: space-between;
}
.customer-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.customer-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 168px; */
    height: 88px;
    color: var(--subtle-text);
    border: 1px solid;
    border-color: var(--subtle-text);
    border-radius: 4px;

    transition: color 250ms var(--tras-t-fun);
}
.customer-list-link:hover,
.customer-list-link:focus {
    color: var(--primary-brand);
    border-color: var(--primary-brand);
}
.icon-customers {
    width: 104px;
    height: 56px;
    fill: currentColor;
}
.page-footer {
    background-color: var(--dark);
}
.logo-footer {
    margin-bottom: 16px;

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}
.text-logo-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light);
}
.text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent);
}
.footer-title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--pure-white); 
}
.social-media-footer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 208px;
}
.social-media-footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--text-col);
    border-radius: 50%;

    transition: background-color 250ms var(--tras-t-fun);
}
.social-media-footer-link:hover,
.social-media-footer-link:focus {
    background-color: var(--success);
}
.subscribe-text {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--pure-white);
}
.btn-subscribe:hover,
.btn-subscribe:focus {
    color: var(--pure-white);
    background-color: var(--accept-col);
    border: 1px solid;
    border-color: var(--accept-col);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.svg-subscribe {
    margin-left: 16px;
    width: 24px;
    height: 24px;
}
   /* Modal window */
    
   .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms var(--tras-t-fun), visibility 250ms var(--tras-t-fun);
}
.backdrop.is-hidden {
    visibility: 0;
    opacity: 0;
    pointer-events: none;  
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-height: 576px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 50%;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}
.modal-btn:active {
    background-color: var(--accept-col);
    border-color: var(--accept-col);
    box-shadow: none;
    fill: var(--pure-white);
}
.modalsvg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* MODAL WIND FORM */
form {
    display: flex;
    flex-direction: column;
    padding: 72px 24px 24px 24px;
}
.form-label {
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
}
.form-label:nth-child(5) {
    margin-bottom: 0px;
}
.input-desc {
    display: block;
    margin-bottom: 4px;
}
.form-input {
    display: block;
    padding-top: 11px;
    padding-left: 38px;
    padding-bottom: 11px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: outline 250ms var(--tras-t-fun);
}
.form-input-wrapper {
    display: block;
    position: relative;
}
.form-input:focus + .svg-modal {
    fill: var(--primary-brand)
}
.form-input:focus {
    outline: none;
    outline: 1px solid var(--primary-brand);
}
.svg-modal {
    display: block;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 18px;
    fill: var(--dark);
    transition: fill 250ms var(--tras-t-fun);
    
}
.textarea-form {
    display: block;
    margin-bottom: 16px;
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
}
.textarea-form:focus {
    outline: none;
    border: 1px solid var(--primary-brand);
}
.textarea-form::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}
.text-action {
    margin-bottom: 14px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.form-checkbox-desc {
    display: flex;
    align-items: center;
    margin-left: 8px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}
.privacy-policy-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
}
.form-checkbox-label {
    display: flex;
}
.form-fake-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-left: 0;
    margin-right: 0;
    border: 2px solid var(--dark);
    border-radius: 2px;
    transition: background-color 250ms var(--tras-t-fun);
}
.svg-fake-checkbox {
    display: block;
    width: 10px;
    height: 8px;
    align-items: center;
    justify-content: center;
    opacity: 0; 
}
.form-checkbox:checked + .form-fake-checkbox {
    background-color: var(--accept-col);
    border: 1px solid var(--accept-col);
}
.form-checkbox:checked + .form-fake-checkbox .svg-fake-checkbox {
    opacity: 1;
    fill: var(--pure-white);
}
.form-checkbox:focus + .form-fake-checkbox {
    border: 1.25px solid var(--primary-brand);
}
.btn-submit {
    margin: auto;
    height: 56px;
    width: 169px;
    background: var(--primary-brand);
    border: 1px solid var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--pure-white);
    cursor: pointer;
    transition: box-shadow 250ms var(--tras-t-fun), background-color 250ms var(--tras-t-fun);
}
.btn-submit:hover,
.btn-submit:focus {
    color: var(--pure-white);
    background-color: var(--accept-col);
    border: 1px solid;
    border-color: var(--accept-col);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.works-title {
    margin-bottom: 8px;

    /* font-weight: 700;
    font-size: 36px; */
    line-height: 1.111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark); 
}
.text {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-col);
}
.team-list-item {
    width: 264px;
    /* margin-right: auto;
    margin-left: auto; */
    /* margin-bottom: 72px; */
    background-color: var(--pure-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.secondary-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}
.label-sub {
        display: inline-block;
    }
    /* .form-sub {
        padding: 0;
    } */
    .input-sub {
        padding: 8px 16px;
        height: 40px;
        /* width: 396px; */
        color: var(--pure-white);
        background-color: var(--dark);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        /* margin-bottom: 16px; */
    }
    .btn-subscribe {
        display: block;
        /* margin-right: auto;
        margin-left: auto; */
        height: 40px;
        width: 165px;
        padding: 8px 24px;
        background: var(--primary-brand);
        border: 1px solid var(--primary-brand);
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--pure-white);
        cursor: pointer;
        transition: box-shadow 250ms var(--tras-t-fun), background-color 250ms var(--tras-t-fun);
    }



