/* Утиліти */
:root {
--primary-brand : #4D5AE5;
--accept-col : #404BBF;
--text-col : #434455;
--dark : #2E2F42;
--subtle-text : #8E8F99;
--accent : #E7E9FC;
--light : #F4F4FD;
--success : #31D0AA;
--pure-white : #FFFFFF;

--tras-t-fun : cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--pure-white);
    color: var(--text-col);
}

.list {
    list-style: none; 
}
.link {
    text-decoration: none;
}
h1,h2,h3,p,ul {
    margin: 0;
    padding: 0;
}
/* Хедер */
.page-header {
    /* background-color: var(--pure-white);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08); */
}
.logo {
    margin-top: 24px;
    margin-right: 77px;
    margin-bottom: 24px;

    color: var(--primary-brand);

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.text-logo {
    color: var(--dark);
}
.menu {
    display: flex;
}
.menu-item:not(:last-child) {
    margin-right: 40px;
}
/* .menu-item + .menu-item {
    margin-left: 20px;
} */

.menu-link {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.5;
    color: var(--dark);

    transition: color 250ms var(--tras-t-fun);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--primary-brand);
}
.current {
    color: var(--primary-brand)
}
.current::after {
    position: absolute;
    left: 0;
    bottom: -2.5px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--primary-brand);
    border-radius: 2px;
}
.menu-contacts {
    display: flex;
    margin-left: auto;
}
.contact-phone {
    padding-top: 24px;
    padding-bottom: 24px;
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-col);

    transition: color 250ms var(--tras-t-fun);
}
.contact-phone:hover,
.contact-phone:focus {
    color: var(--primary-brand)
}
.contact-mail {
    margin-left: auto;
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-col);

    transition: color 250ms var(--tras-t-fun);
}
.contact-mail:hover,
.contact-mail:focus {
    color: var(--primary-brand);
}
/* Контейнер, секції */
.con-header-nav {
    display: flex;
    align-items: center;
}
.con-header {
    display: flex;
    align-items: center;
    background-color: var(--pure-white);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width:767px) {
    .container {
        width: 428px;
    }
    .menu-item, .svg-works {
        display: none;
    }
    .hero {
        width: 428px;
        height: 432px;
        margin: 0 auto;
        padding-top: 112px;
        padding-bottom: 112px;
        background-color: transparent;
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/heromob.jpg);
        background-size: 428px 432px;
    }
    .hero-title {
        padding-bottom: 72px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--pure-white)
    }
    .section-work {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .works-title {
        margin-bottom: 8px;
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.111;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--dark); 
    }
    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-col);
    }
    .works-list-item {
        margin-bottom: 72px;
    }
    .works-list-item:last-child {
        margin-bottom: 0;
    }
    .section-app {
        display: none;
    }
    .section-team {
        width: 428px;
        margin: 0 auto;
        padding-top: 96px;
        padding-bottom: 128px;
        background-color: var(--light);
    }
    .secondary-title {
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }
    .team-list-item {
        width: 264px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 72px;
        background-color: var(--pure-white);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
    }
    .team-list-item:last-child {
        margin-bottom: 0;
    }
    .section-customers {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .customers-list {
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap:72px;
    }
    .customer-list-link {
        width: 190px;
    }
    .page-footer {
        width: 428px;
        margin: 0 auto;
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .logo-footer {
        justify-content: center;
    }
    .text-footer {
        width: 268px;
        margin: 0 auto;
        margin-bottom: 72px;
    }

}
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        background-color: #31D0AA;
    }
    .menu-contacts {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        width: 1200px;
        /* background-color: #8E8F99; */
    }
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    /* так сказав ментор */
}
/* кнопки */
.btn {
    display: block;
    margin: auto;
    min-width: 69px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 16px 32px;

    color: var(--pure-white);
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-brand);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    text-align: center;

    transition: box-shadow 250ms var(--tras-t-fun), background-color 250ms var(--tras-t-fun);
}
.btn:hover,
.btn:focus {
    color: var(--pure-white);
    background-color: var(--accept-col);
    border: 1px solid;
    border-color: var(--accept-col);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn:active {
    background-color: var(--primary-brand);
    color: var(--pure-white);
}
/* стилі карток команди */
.team-title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark);
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-col);
}
/* позиція і стилі до стилів карток команди  */
.container-our-team {
    padding-top: 32px;
    padding-bottom: 32px;
}
.social-media {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 12px;
}
.social-media-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand);
    border-radius: 50%;
}
.svg-social-media {
    fill: var(--light);
} 
/*  */
.customers-list {
    display: flex;
    justify-content: space-between;
}
.customer-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.customer-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    color: var(--subtle-text);
    border: 1px solid;
    border-color: var(--subtle-text);
    border-radius: 4px;

    transition: color 250ms var(--tras-t-fun);
}
.customer-list-link:hover,
.customer-list-link:focus {
    color: var(--primary-brand);
    border-color: var(--primary-brand);
}
.icon-customers {
    width: 104px;
    height: 56px;
    fill: currentColor;
}
.page-footer {
    background-color: var(--dark);
}
.logo-footer {
    margin-bottom: 16px;

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}
.text-logo-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light);
}
.text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent);
}



